.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--nabVar);
  color:var(--nabVar-link);
  width: 100%;
  height: 76px;
  box-shadow: 0 3px 3px rgba(0 0 0 / 0.15);
  position: fixed;
  top: 0;
  opacity: 0.9;
  z-index: 1;
}

.nav_container {
  width: 94%;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: wrap;
}

.nav_container figure {
  margin: 0;
}
.nav_logo {
}

.nav_menu ol {
  display: flex;
  height: inherit;
}
.nav_menu ol li {
  list-style: none;
  list-style-type: none;
  height: inherit;
  padding: 0 10px;
  color:var(--nabVar-link);

}
.nav_icon {
  height: 3.5rem;
  border-right: solid 2px white;
  padding-right: 2rem;
  font-size: 30px;
}
.nav_button {
  font-size: 17px;
  padding-top: 10px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color:var(--nabVar-link);
}
