.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--nabVar);
  color: var(--nabVar-link);
  width: 100%;
  height: var(--nav-height);
  box-shadow: var(--black-shadow )0px 1px 0px,
    var(--gray-shadow) 0px 1px 0px inset;
  position: sticky;
  top: 0;
  backdrop-filter: blur(20px);
  z-index: 1;
}

.nav_container {
  width: 90%;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: wrap;
}

.nav_container figure {
  margin: 0;
}

.nav_menu ol {
  display: flex;
  height: inherit;
}
.nav_menu ol li {
  list-style: none;
  list-style-type: none;
  height: inherit;
  padding: 0 10px;
  color: var(--nabVar-link);
}
.nav_icon {
  height: 3.5rem;
  border-right: solid 2px white;
  padding-right: 2rem;
  font-size: 30px;
}
.nav_button {
  font-size: 17px;
  padding-top: 10px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--nabVar-link);
}
