.container {
  max-width: 960px;
  margin-inline: auto;
  padding-inline: 20px;
}

.footer {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer .side {
  align-items: center;
  gap: 16px;
  display: flex;
}

.footer-sm {
  gap: 16px;
  list-style: none;
  display: flex;
}

.name {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.77;
  margin-bottom: 0;
}

.rights {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.77;
  margin-top: 0;
}

.text {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.77;
  margin-top: 0;
}
.text--sm{
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.77;
}

.right {
  text-align: end;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}
